.input-text {
  width: 308px;
  padding: 17px 0 17px 17px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgba($color: $text-color, $alpha: 0.1);
  -moz-appearance: textfield; /* Firefox remove array*/

  /* Chrome, Safari, Edge, Opera remove array*/
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    opacity: 0.4;
  }
}
