.search-tool {
  display: flex;
  background: $white;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.search-tool__list {
  display: flex;
  padding: 25px 0px 25px 57px;
  gap: 60px;
}

.search-tool__item {
  @include flex-centring;
  position: relative;
}

.search-tool__item-2 {
  // margin-left: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-tool__item-menu {
}

.search-tool__dir-list {
  display: none;
  min-width: 441px;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 524px;
  padding: 20px 48px 61px 30px;
  background: $white;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: -25px;
  z-index: 50;
}

.search-tool__dir-list-2 {
  display: none;
  flex-direction: column;
  min-width: 264px;
  padding: 30px 0px 30px 30px;
  background: $white;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: -25px;
  z-index: 50;
}

.search-tool__show-list {
  display: flex;
}

.search-tool__item-wrapper {
  @include flex-centring;
  padding: 13px 15px 13px 13px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100px;
    opacity: 0.2;
    left: calc(100% + 30px);
    border: 1px solid $text-color;
  }
}

.search-tool__item-wrapper-4::after {
  display: none;
}

.search-tool__input-date {
  border: none;
  outline: none;
  position: relative;
  width: 152px;

  &::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    z-index: 5;
  }
}

.search-tool__input-date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../../assets/icons/calendar.svg") no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin;
  top: 6px;
  left: -30px;
  cursor: pointer;
  bottom: 0;
  height: auto;
  left: -30px;
  position: absolute;
  right: 0;
  top: 5.5px;
  width: auto;
}

.search-tool__button {
  margin-left: auto;
  padding: 38px 52px;
  background: $accent-color;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $white;

  cursor: pointer;
}

//checkbox-list

.search-tool__dir-item {
  margin-right: 65px;
}

.search-tool__dir-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 0 20px 0;
}

.search-tool__dir-item-inner:not(:last-child) {
  margin-bottom: 15px;
}

.search-tool__dir-item-inner:last-child {
  margin-bottom: 20px;
}

//radio

.search-tool__item-wrapper-type-wrapper {
  position: absolute;
  display: none;
  padding: 26px 93px 26px 32px;
  background: $white;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  top: 90px;
}

.search-tool__item-wrapper-type-wrapper-show {
  display: block;
}
