.search-tool {
  display: flex;
  background: $white;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.search-tool__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0px 25px 57px;
  column-gap: 60px;
  row-gap: 20px;
}

.search-tool__item {
  @include flex-centring;
  position: relative;
}

.search-tool__item-2 {
  // margin-left: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-tool__dir-list {
  display: flex;
  min-width: 441px;
  flex-direction: column;
  flex-wrap: wrap;
  // max-height: 524px;
  padding: 20px 48px 61px 30px;
  background: $white;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: -25px;
  z-index: 50;
}

.search-tool__dir-list-2 {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  max-height: 1000px;
  overflow-y: scroll;
  padding: 30px 0px 30px 30px;
  background: $white;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: -25px;
  z-index: 50;
}

// .search-tool__show-list {
//   display: flex;
// }

.search-tool__item-wrapper {
  @include flex-centring;
  padding: 13px 15px 13px 13px;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100px;
    opacity: 0.2;
    left: calc(100% + 30px);
    // border: 1px solid $text-color;
  }
}

.search-tool__item-wrapper-4::after {
  display: none;
}

.search-tool__input-date {
  border: none;
  outline: none;
  position: relative;
  //
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  //
  width: 185px;
  // width: 152px;
  &::placeholder {
    color: #333333;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: url("../../assets/icons/calendar.svg") no-repeat;
    padding-left: 30px;
    padding-top: -5px;
  }

  // appearance: initial;
  // -webkit-appearance: initial;
  // width: 100%;

  // &::-webkit-datetime-edit-fields-wrapper {
  //   z-index: 5;
  //   // position: relative;
  //   // width: 100%;
  // }
}

.search-tool__input-date::-webkit-calendar-picker-indicator {
  // background: transparent;
  // bottom: 0;
  // color: transparent;
  // cursor: pointer;
  // height: auto;
  // left: 0;
  // position: absolute;
  // right: 0;
  // top: 0;
  // width: auto;
  //
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  // background: url("../../assets/icons/calendar.svg") no-repeat;
  //test code for safari
  background-color: transparent;
  background-image: url("../../assets/icons/calendar.svg");
  background-size: contain;
  //
  width: 25px;
  height: 25px;
  border-width: thin;
  top: 6px;
  left: -30px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
  left: -30px;
  right: 0;
  top: 5.5px;
  height: auto;
  width: auto;
}

.search-tool__button {
  margin-left: auto;
  padding: 38px 52px;
  background: $accent-color;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $white;

  cursor: pointer;
}

//checkbox-list

.search-tool__dir-item {
  margin-right: 65px;
}

.search-tool__dir-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 0 20px 0;
}

.search-tool__dir-item-inner:not(:last-child) {
  margin-bottom: 15px;
}

.search-tool__dir-item-inner:last-child {
  margin-bottom: 20px;
}

//radio

.search-tool__item-wrapper-type-wrapper {
  position: absolute;
  display: flex;
  padding: 26px 93px 26px 32px;
  background: $white;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  top: 90px;
}

.search-tool__item-wrapper-type-wrapper-show {
  display: block;
}

@media only screen and (max-width: 768px) {
  .search-tool {
    flex-direction: column;
  }

  .search-tool__button {
    margin-left: 0;
    width: 100%;
    padding: 38px 52px;
    background: $accent-color;
    border-radius: 0 0 10px 10px;
    border: 0;
  }
}
