.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background: linear-gradient(265.48deg, #095acd 33.12%, #006aff 84.7%);
}

.header__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}

.header__search-input-label {
  position: relative;
  margin-left: 276px;
  &::before {
    content: url("../../assets/icons/search.svg");
    position: absolute;
    top: 12px;
    left: 18px;
  }
}

.header__search-input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 304px;
  height: 46px;
  padding: 14px 0px 14px 49px;
  outline: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  &::selection {
    color: #000;
  }
}

.header__search-wrapper {
}

.header__search-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
