.navbar__list,
.navbar__list-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: start;
}

.navbar__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  white-space: nowrap;
}

@media only screen and (min-width: 489px) {
  .navbar__list {
    flex-wrap: nowrap;
  }
}
