*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "SF Pro Display";
  font-size: 24px;
  // line-height: 0.6;
  font-weight: 400;
  color: #333333;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
